.testcommonstyle {
    margin: 0;
    font-size: 45px;
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.texttotype {
    position: relative;
    background: transparent;
    margin-left: 14px;
    z-index: 1;
    outline: none;
    color: rgba(0, 0, 0, 0.450);
    width: 50vw;
    height: 50px;
}
.testspace {
    position: absolute;
    background: transparent;
    border-width: 0;
    z-index: 9999999999;
    color: rgba(0, 0, 0, 0);
    width: 95vw;
    height: 195vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.typingtest {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.letterwrong {
    background-color: rgba(255, 0, 0, 0.666);
}
.lettercorrect {
    background-color: rgba(0, 128, 0, 0.666);
}